.sign-up{
    display: flex;
    flex-direction: column;
    width: 380px;
    justify-self: center;
    transition: 1s;

    .title{
        margin: 10px 0;
        font-family: 'Open Sans Condensed', sans-serif;
    
    }
    .sign-up-title{
        font-weight: bolder;
        word-spacing: 2px;
        font-family: 'Open Sans Condensed', sans-serif;
    }
}
@media(max-width:1100px){
    .sign-up{
        transform: scale(0.8);
    }
}