.sign-in{
    width: 30vw;
    padding: 30px;
    
    h1{
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .signin-header{
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        word-spacing: 2px;
        
    }
}