.sign-in{
    width: 380px;
    
    
    h1{
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .signin-header{
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        word-spacing: 2px;
    }
    .signin-btns{
        display: flex;
        justify-content: space-between;
    }
}