.header{
    padding: 30px;
    display:flex;
    justify-content: space-between;

    .logo-container{
        text-decoration: none;
        font-size: xx-large;
        color: black;

        
        
        .logo-letter {
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-iteration-count: 1;
            display: inline-block;
          }
          
        .logo-letter:hover {
            color: tomato;
            /* animation: rubberBand 5s infinite; */
            animation-name: rubberBand;
        }
        .red{
            color: red;
            font-weight: bolder;
        }
        @keyframes rubberBand {
            from {
              transform: scale3d(1, 1, 1);
            }
          
            30% {
              transform: scale3d(1.25, 0.75, 1);
            }
          
            40% {
              transform: scale3d(0.75, 1.25, 1);
            }
          
            50% {
              transform: scale3d(1.15, 0.85, 1);
            }
          
            65% {
              transform: scale3d(.95, 1.05, 1);
            }
          
            75% {
              transform: scale3d(1.05, .95, 1);
            }
          
            to {
              transform: scale3d(1, 1, 1);
            }
          }
    }
    .nav-links-container{
        display: flex;
        align-items: center;
        .nav-links{
            padding: 0px 20px;
            color: black;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
            font-size: large;
            transition: 0.3s;
        }
        .nav-links:hover{
            font-size: 130%;
        }
        
        .userprofile{
          color: grey;
          transform: scale(1.5);
          width: 20px;
          height: 20px;
          border: 1px solid black;
          border-radius: 100%;
          background-size: cover;
          // margin-top: -5px;
          cursor: pointer;
          transition: 0.3s;
        }
        .userprofile:hover{
          transform: scale(1.6);
        }
    }
}

@media (max-width: 600px){
  .header{
    padding-left: 0;
    padding-right: 0;
    
  }
  .logo-container{
    transform: scale(0.7);
  
  }
  .nav-links-container{
    transform: scale(0.8);
  }
}
@media (max-width: 600px){
  .header{
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-gap: 20px;
    place-content: center;
  }
  .logo-container{
    transform: scale(1);
  }
  .nav-links-container{
    transform: scale(1);
  }
}