.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
    transition: 0.3s;
  
    .image-container {
      width: 23%;
      padding-right: 15px;
      transition: 0.3s;;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name,
    .quantity,
    .price {
      width: 22%;
    }
  
    .quantity {
      padding-left: px;
      
      .quantity-box{
        margin: 0;
        border: 1px solid black;
        padding: 2px 10px;
      }
      .decrease-quantity{
        padding: 0;
        margin-right: 5px;
        font-size: 30px;
        transition: 0.5s;
        cursor: pointer;
      }
      .decrease-quantity:hover{

        background-color: lightsalmon;
      }
      .increase-quantity{
        // background-color: lightgreen  ;
        margin-left: 5px;
        font-size: 30px;
        transition: 0.5s;
        cursor: pointer;
      }
      .increase-quantity:hover{

        background-color: lightgreen;
      }
    }
  
    .remove-button {
      margin-left: 42px;
      cursor: pointer;
    }
    .remove-button:hover{
      // transform: scale(1);
      animation-name: removeitem;
      animation-duration: 1s;  
      animation-fill-mode: forwards;
     }
     @keyframes removeitem{
       0%{
        transform: rotate(0);
       }
       100%{
        // transform: scale(1.5);
        color: red;
        transform: rotate(360deg); 
       }
     }
  }

  